*{
    font-family: "Cabin", sans-serif;
    font-weight: 400;  
    border: 0;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

hr {
    color: #0DCAF0;
}

h1 {
    font-weight: 300;
    font-size: 25px;
}

h2 {
    font-weight: 300;
}

i {
    font-size: 30px;
}

.bg-cyan {
    background-color: #0DCAF0
}

.bg-oscuro{
    background-color: black;

}

#barranav {
    transition: all 0.7s;
    height: 70px;
}

#viajes-chile-logo{
    width: 2.5rem;
    margin: 20px;
}

.quiencard{
    width: 390px;
}

.destacard{
    width: 300px;
}
.destacard img{
    height: 170px;
}

.rrss i{
    text-decoration: none;
}

p{
    font-size: 20px;
}

.text-white, .rrss{
    color: white;
}

.rrss i{
    font-size: 3rem;
}